@media screen and (min-width: 500px) {
  .courseModalButton {
    grid-template-columns: repeat(2, 1fr);
  }
  .proficiencyLevel {
    flex-direction: row;
  }
  .socialLinks {
    grid-template-columns: repeat(3, 50px);
  }
  .footerInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 900px) {
  .navbar {
    padding: 0 80px;
  }
  .navbar > button {
    display: none;
  }

  .navMenu {
    position: static;
    background: none;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    width: auto;
    height: auto;
  }
  .navMenu ul {
    flex-direction: row;
    gap: 40px;
    margin: 0 3.5rem 0 0;
    padding: 0;
  }
  .navMenu li a {
    margin: 0;
  }
  .whyCard {
    flex-direction: row;
  }
  .courseModalButton {
    grid-template-columns: repeat(3, 1fr);
  }
  .socialLinks {
    grid-template-columns: repeat(6, 50px);
  }
}

@media screen and (min-width: 1000px) {
  .courseModalButton {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1100px) {
  .heroContainer {
    padding-top: 130px;
  }
  .hero {
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
  }
}
