:root {
  --primary-color: #dda0dd;
  --secondary-color: #fafafa;
  --accent-color: #2684bf;
  --text-color: #515050;

  --heading-font: "Montserrat", sans-serif;
  --body-font: "Inter", sans-serif;
  --code-font: "Fira Code", monospace;
}
body {
  font-family: var(--body-font);
  color: var(--text-color);
  line-height: 1.5;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
h1,
h2,
h3 {
  font-family: var(--heading-font);
}
h2 {
  text-align: center;
  font-size: 2.2rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  font-size: 1.2rem;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 10;
  background: var(--primary-color);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.navMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  left: -100%;
  top: 79px;
  background: var(--primary-color);
  transition: left 0.5s ease-in-out;
}
.navMenu.active {
  left: 0;
}
.navMenu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 0 0 70px 0;
}
.navMenu li {
  display: flex;
}
.navMenu li a {
  margin-top: 40px;
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.4rem;
  position: relative;
}
.navMenu li a::before {
  content: "";
  position: absolute;
  background-color: var(--text-color);
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -2px;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease;
}
.navMenu li a:hover::before,
.navMenu li a.activeLink::before {
  transform: scaleX(1);
}
.navbar button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--text-color);
  font-weight: 500;
}

.heroContainer {
  height: 100vh;
  padding-top: 5rem;
}
.hero {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.hero img {
  max-width: 500px;
  width: 100%;
  height: auto;
}
.heroText {
  display: flex;
  flex-direction: column;
  flex-grow: 0.5;
}
.heroText h1 {
  font-size: clamp(2rem, 1.636rem + 1.82vw, 3rem);
  line-height: 1;
}
.heroText p:nth-of-type(1) {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 1.85rem;
}
.heroText p:nth-of-type(2) {
  font-weight: 400;
  font-size: 1.7rem;
}
.heroButtons{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px auto 0 auto;
  gap: 26px;

}
.heroButtons button:nth-child(1) {
  background: var(--accent-color);
  color: var(--text-color);
  border: 2px solid #fff;
  font-weight: 500;
  font-size: 1.3rem;
  transition: background-color 0.3s ease;
}
.heroButtons button:nth-child(1):hover {
  background-color: #0968a3af;
}
.heroButtons button:last-child {
  background: var(--secondary-color);
  border: 2px solid var(--text-color);
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.3rem;
  transition: background-color 0.3s ease;
}
.heroButtons button:last-child:hover {
  background-color: #ece9e9;
}
.heroButtons button,
.courseModalButton button,
.proficiencyLevel button {
  padding: 12px 16px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.firstSection {
  background: var(--secondary-color);
  padding: 100px 20px 100px 20px;
}
.whyCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
  margin-top: 80px;
}
.whyCard .card {
  background: var(--primary-color);
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  box-shadow: -5px 0 4px 1px rgb(210, 208, 208);
}
.whyCard .card h3 {
  margin-bottom: 25px;
  font-size: 1.5rem;
}

.secondSection {
  padding: 80px 20px 80px 20px;
}
.courseModalButton {
  background: var(--secondary-color);
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 40px 30px;
  margin-top: 60px;
}
.courseModalButton button {
  margin-bottom: 25px;
  background: #63b3e4;
  color: var(--text-color);
  border: 1px solid #000000e1;
}
.courseModalButton button:hover {
  background-color: var(--primary-color);
  color: #fff;
}
.thirdSection {
  padding: 30px 0;
}
.thirdSectionContent {
  max-width: 1000px;
  text-align: center;
  margin: 60px auto;
  padding: 0 20px;
  font-size: 1.2rem;
}
.proficiencyLevel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 45px;
}
.brain,
.dev {
  font-weight: 700;
}
.dev {
  color: var(--accent-color);
}

.fourthSection {
  background: var(--secondary-color);
  padding: 30px 20px;
}
.weatherPrediction {
  font-family: var(--code-font);
  max-width: 800px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 60px auto 0 auto;
  gap: 20px;
  min-height: 300px;
}
.fifthSection .container {
  margin: 60px auto 80px auto;
}
.socialLinks {
  max-width: 800px;
  padding: 0 20px;
  margin: 60px auto 10px auto;
  display: grid;
  grid-template-columns: repeat(2, 50px);
  align-items: center;
  justify-content: center;
  column-gap: 40px;
  row-gap: 20px;
}
.socialLinks a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: var(--primary-color);
  border-radius: 50%;
}
.socialLinks a i {
  font-size: 1.5rem;
  color: #fff;
}

footer {
  background: var(--primary-color);
}
.footerWrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 60px 20px 30px 20px;
}
.footerWrapper p {
  text-align: center;
}
.footerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.footerInfo .cta,
.footerInfo .footerSocials {
  display: flex;
  flex-direction: column;
  margin: 30px auto 30px auto;
}
.footerWrapper a {
  color: var(--text-color);
  transition: 0.5s ease;
}
.footerWrapper a:hover {
  color: #fff;
}

dialog {
  border: none;
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  font-family: var(--code-font);
  margin: 20px auto 0 auto;
  font-size: 1.2rem;
  background: var(--secondary-color);
  color: var(--text-color);

  animation: dialogBoxFadeIn .5s ease ;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
}
.modalHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modalHeading button {
  border: none;
  background: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--text-color);
}
.modalHeading h3 {
  font-size: 1.5rem;
  color: var(--accent-color);
}
.modalContent {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@keyframes dialogBoxFadeIn {
  from {
    opacity: 0;
    margin-top: 500px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

.fadeUp {
 animation: fadeIn 1s ease-in-out;
}
@keyframes fadeUp {
  from {
    opacity: 0;
   margin-bottom: 500px;
  }
  to {
    opacity: 1;
   margin-bottom: 0;
  }
}

