*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
main {
    min-height: 100%;
    width: 100%;   
    margin: 0 auto; 
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: aliceblue;
    padding: 2rem;
}

.social-media1 {
    justify-self: start;
    cursor: pointer;
}

.social-media2 {
    justify-self: end; 
}
header .fa{
    padding: .5rem;
    cursor: pointer;
    transition: ease .5s;
    /* think of appropriate color */
}
.hero-img{
    /* different images on different screen sizees */
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0,0.1));
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    position: relative;
}

nav {
    /* position: sticky; 
    top: 0; 
    z-index: 1000;
    width: 100%; 
    transition: background-color 0.3s;  */
    background-color: rgba(194, 90, 90, 0.2);
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

ul.menuLinks a:hover{
    /* change hover color */
    color:blue;
    
}

ul.menuLinks {
    list-style-type: none;
}

#myButton::before {
    content: "\2630";
}
#myButton.open::before {
    content: "X";
}
#myButton {
    font-size: 2rem;
    background: none;
    border: none;
    /* change to appropriate color */
    color: red;
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: .25rem 2vw;
}

ul.menuLinks li a {
    display: block;
    padding: .85rem 2vw;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: "Lato", sans-serif;
}

/* CURRENT ITEM */
li.current-menu-item a {
    /* change to appropriate color */
    background-color: rgba(232, 144, 144, 0.2);
}

nav ul {
    overflow: hidden;
}

nav.open {
    grid-template-rows: 1fr;
}

.cta-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 1.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif; 
    color: white;
    font-size: 1.5rem;
}

.cta-button button{
    padding: 1rem 2.5rem;
    cursor: pointer;
    background: transparent;
    color: white;
    border-color: white;
    font-size: 1rem;
}
.cta-button button:hover{
    background-color: #ff70a6;
    border-color: #ff70a6;
}



.section-2{
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 7% auto;
    display: flex;
}
h4{
    font-size: 3rem;
    margin:2rem 0rem;
    color: var(--primary);
}
.faq{
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
    cursor: pointer;
}
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3{
    font-size: 1.5rem;
    transition: transform .5s ease-in;
    color: var(--secondary);
}
.answer p{
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
}
.section_2 i{
    font-size: 4rem;
}
.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}
.faq.active .answer{
    max-height: 300px;
    animation: fade 1s ease-in-out;
}
.faq.active i{
    transform: rotate(180deg);
}
@keyframes fade{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

.purpose{
    border-bottom: 2px solid #d9d9d9;
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 80%;
    margin: 5% auto;
}

.purpose p{
    line-height: 1.6;
}
h2{
    font-size: 2rem;
    margin:2rem 0rem;
    color: var(--primary);
}












footer {
    position: relative;
    height: auto;
    margin-top: 200px;
    clear: both;
}