@media screen and (min-width: 768px) {
  .open,
  .close {
    display: none;
  }
  .nav-menu {
    display: flex;
    position: static;
    visibility: visible;
    opacity: 1;
    height: auto;
    width: auto;
    padding: 0;
    background: transparent;
    transform: none;
    top: 0;
    left: 0;
  }
  .nav-bar {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0;
  }

  .placeContent {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image text";
    align-items: center;
  }

  footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 30px;
  }
}
@media screen and (min-width: 900px) {
  #placesContainer {
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
