* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --header-font: "Abril Fatface", serif;
  --body-font: "Lato", sans-serif;
  --text-color: #fff;
  --primary-color: #03045e;
  --secondary-color: #0077b6;
  --highlight-color: #90e0ef;
  --card-bg: #caf0f8;
  --active: #00b4d8;
}
li {
  list-style: none;
}
body {
  font-family: var(--body-font);
}
h2,
h3 {
  color: var(--primary-color);
  margin-bottom: 25px;
}
p {
  line-height: 1.5;
  font-size: 1.15rem;
}
a {
  text-decoration: none;
}


.navigation {
  background: var(--primary-color);
  color: var(--text-color);

  transform: translateX(-50%);
  position: fixed;
  z-index: 1000;
  top: 12px;
  left: 50%;

  margin: 0 auto;
  width: 95vw;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  border-radius: 40px;
}
.nav-menu {
  position: absolute;
  top: 42px;
  left: 50px;

  height: calc(100vh - 42px);
  width: 90vw;

  background: var(--primary-color);
  border-radius: 20px;
  padding: 20px 0 0 50px;

  display: flex;
  flex-direction: column;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);

  transition:
    opacity 0.4s ease,
    transform 0.4s ease,
    visibility 0.4s;
}
.nav-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.nav-bar {
  margin-top: 40px;
  align-self: center;
}
.nav-bar li a {
  color: var(--text-color);
  font-size: 1.15rem;
  transition: font-weight 0.2s ease;
}
.nav-bar li a:hover {
  font-weight: 600;
}
.nav-bar li.active a {
  border-bottom: 2px solid var(--active);
}
.nav-bar li {
  padding: 20px 0;
  transition: all 0.5s;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.logo span {
  font-size: 1.2rem;
}
.open,
.close {
  cursor: pointer;
  font-size: 1.45rem;
  transition: transform 0.5s ease-in-out;
  padding: 10px 0;
}
.open:hover,
.close:hover {
  transform: scale(1.05);
}




.main {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
}


.heroContainer {
  background-image: url("../images/home-hero.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: var(--text-color);
}

.heroWrapper h1 {
  font-size: clamp(2rem, 1.636rem + 1.82vw, 3rem);
}
.heroWrapper p{
  margin: 0;
  padding: 0;
  line-height: 0;
}
.heroWrapper a {
  color: var(--text-color);
  background: var(--primary-color);
  font-size: 1.15rem;
  padding: 10px 80px;
  border-radius: 20px;
  margin-top: 40px;
  display: inline-block;
}


#spotlightContainer{
  position: relative;
  padding: 0 20px;
  max-width: 1000px;
  width: 100%;
  margin: clamp(-50px, -10vw, -10px) auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 2;
} 
.memberCard {
  background: var(--text-color);
  box-shadow: 2px 2px 10px  #8b8a8a;
  max-width: 350px;
  width: 100%;
  height: 300px;
  padding: 10px 10px 20px 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  gap: 10px;
   transition: transform 0.3s ease;
}
.memberCard:hover{
  transform: translateY(-8px);
}

.memberCard h2{
  margin: 10px 0 15px 0;
} 



.main section {
  margin: 80px 0;
}
.main > p {
  margin: 80px 0 30px 0;
}
.main > p span{
  color: var(--active);
  font-size: 1.3rem;
}

.advocacyWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.advocacyWrapper img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.ComplianceSection ul {
  margin: 20px 0 20px 50px;
}
.ComplianceSection ul li {
  margin-top: 10px;
  list-style: disc;
  color: var(--secondary-color);
}
.joinSection a {
  display: block;
  text-align: end;
  margin-top: 10px;
  transition: all 0.3s;
  color: var(--secondary-color);
}
.joinSection a:hover {
  text-decoration: underline;
  color: var(--active);
}


.weatherSection{
 background: var(--card-bg);
  padding: 40px 20px;
  border-radius: 20px;
  margin: 80px 0;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#currentWeatherSection,
#forecastWeatherContainer {
  display: grid;

  gap: 20px;
}
.weatherCard {
  background: white;

  padding: 20px;

  border-radius: 16px;

  text-align: center;
}
/* .weatherCard{
  background: var(--card-bg);
  box-shadow: 2px 2px 10px #90e0ef;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}
.weatherCard h2, .forecastCard h3{
  margin: 0 0 15px 0;
}
.forecastCard{
  margin: 20px 0 0 0;
} */



footer {
  background: var(--primary-color);
  margin-top: 80px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  padding: 10px;
  row-gap: 40px;
}
.chamberInfo {
  display: flex;
  flex-direction: column;
}
.chamberInfo a {
  color: #fff;
  transition: all 0.3s;
  margin-bottom: 8px;
}

.socialLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.socialLinks li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--secondary-color);
  padding: 10px 13px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s;
}
.socialLinks li:hover {
  transform: translateY(-8px);
}
.socialLinks li a {
  color: var(--text-color);
  transition: all 0.3s;
}
