@media screen and (min-width: 1000px) {
  .current-events-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(350px, 400px));
    grid-template-rows: repeat(2, auto-fit);
    grid-template-areas:
      "main event1 event2"
      "main event3 event4";
  }
  .event:nth-child(1) {
    grid-area: main;
    align-self: center;
    justify-self: center;
  }
}
