@media screen and (min-width: 670px) {
  .open,
  .close {
    display: none;
  }
  .nav-menu {
    display: flex;
    position: static;
    visibility: visible;
    opacity: 1;
    height: auto;
    width: auto;
    padding: 0;
    background: transparent;
    transform: none;
    top: 0;
    left: 0;
  }
  .nav-bar {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0;
  }

  footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 30px;
  }
}

@media screen and (min-width: 700px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
  #memberLevelContainer {
    margin: 0 auto;
  }
  .nameInfo,
  .contactInfo {
    display: flex;
    gap: 10px;
  }
  .nameInfo .formInput,
  .contactInfo .formInput {
    flex: 1;
  }
  .memberLevelSection {
    margin-top: 0;
  }
}
