@media only screen and (min-width: 38rem) {
    #myButton{
        display: none;
    }
    ul.menuLinks, ul.menuLinks.open{
        display: flex;
        justify-content: flex-end;
    }
    ul.menuLinks a:hover{
        background-color: rgba(225, 225, 225, 0.2);
    }
    nav{
        grid-template-rows: 1fr;
    }
    .footer{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    #cards{
        display: grid;
        grid-template-columns: auto auto auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    /* .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 5px;
        align-items: center;
    }
     */
}
@media only screen and (min-width: 38rem){

}


