@media only screen and (min-width: 38rem){
    #myButton{
        display: none;
    }

    ul.menuLinks, ul.menuLinks.open{
        display: flex;
        justify-content: flex-end;
    }

    nav{
        grid-template-rows: 1fr;
    }

    header h1{
        font-weight: 500;
        font-size: 28px;
    }
    
    #cards.list section  {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        width: 100%;
        max-width: 100%;

    }
    #cards.list {
        display: grid;
        grid-template-columns: 1fr; 
    }
    


    

}