* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html, body {
  height: 100%;
}
body {
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
li {
  list-style: none;
}
p {
  line-height: 1.5;
  font-size: 17px;
}
:root {
  --primary-color: #1B262C;
  --secondary-color: #3282B8;
  --background-color: #fff;
  --heading-bg: #0F4C75;
  --section-bg: #BBE1FA;
}

.navigation {
  background: var(--primary-color);
  color: var(--background-color);

  transform: translateX(-50%);
  position: fixed;
  z-index: 1000;
  top: 12px;
  left: 50%;

  margin: 0 auto;
  width: 95vw;

  display: flex;
  align-items: center;
  justify-content: space-between;
  /*  might edit */
  padding: 0 24px;
  border-radius: 40px;
}
.nav-menu {
  position: absolute;
  top: 42px;
  left: 50px;

  height: 100vh;
  width: 90vw;

  background: var(--primary-color);
  border-radius: 20px;
  padding: 20px 0 0 50px;

  display: flex;
  flex-direction: column;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);

  transition:
    opacity 0.4s ease,
    transform 0.4s ease,
    visibility 0.4s;
}
.nav-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.nav-bar {
  margin-top: 40px;
  align-self: center;
}
.nav-bar li a {
  text-decoration: none;
  color: var(--background-color);
  font-size: 18px;
  transition: all 0.2s ease;
}
.nav-bar li a:hover {
 font-weight: 600;
}

.nav-bar li.active a {
  color: var(--background-color);
  border-bottom: 2px solid var(--background-color);
}
.nav-bar li {
  padding: 20px 0;
  transition: all 0.5s;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo span {
  font-size: 20px;
}
.open,
.close {
  cursor: pointer;
  font-size: 26px;
  transition: transform 0.5s ease-in-out;
  padding: 10px 0;
}
.open:hover,
.close:hover {
  transform: scale(1.05);
}

main {
  padding: 0 30px;
  margin: 100px 0 0 0;
   flex: 1;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
  color: var(--primary-color);
}
h2 {
  text-align: center;
  background: var(--heading-bg);
  color: var(--background-color);
  border-radius: 12px;
  padding: 5px 0;
  font-weight: 400;
}

.section-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
  margin-bottom: 0;
}
.section-container section:nth-child(1) p {
  margin: 24px 20px 20px 20px;
}
.section-container section {
  background: var(--section-bg);
  border-radius: 12px;
}

.profile-img {
  display: block;
  margin: 0 auto;
  padding: 10px 20px 12px 20px;
  border-radius: 10px;
  max-width: 250px;
  height: auto;
  width: 100%;
}

.course-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin: 20px 8px 30px 8px;
}
.course-nav button {
  max-width: 450px;
  width: 100%;
  border-radius: 12px;
  border: none;
  padding: 7px 0;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.course-nav button:hover {
  opacity: 0.8;
}
.course-nav button:focus,
.nav-bar li a:focus,
.social-links li a:focus {
  outline: 2px solid #2F2FE4;
  border-radius: 12px;
  padding: 6px 8px;
}

#course-container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 32px;
  text-align: center;
  gap: 25px;
}
#course-container span {
  border-radius: 10px;
  padding: 6px 0;
  background: var(--secondary-color);
}
#course-container span.inComplete {
  background: var(--heading-bg);
  color: var(--background-color);
}


#credits {
  text-align: center;
  margin: 50px 6px 20px 6px;
  font-style: italic;
}



footer {
  padding: 15px 30px 12px 30px;
  background: var(--primary-color);
  text-align: center;
  margin-top: 50px;
  color: var(--background-color);
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 30px;
  margin-bottom: 10px;
}
.social-links li {
  background: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 13px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.social-links li:hover {
  transform: translateY(-10%);
}
.social-links li a {
  text-decoration: none;
  color: var(--background-color);
  font-size: 18px;
}
