:root {
  --secondary-color: #e5e5e5;
  --primary-color: #000;
  --body-font: "Open Sans", sans-serif;
  --heading-font: "Raleway", sans-serif;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
main{
  flex: 1;
}
body{
  font-family: var(--body-font);
  display: flex;
  flex-direction: column;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
}
p{
  line-height: 1.6;
}



.nav-bar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
  background: var(--primary-color);
}

.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img{
  max-width: 50px;
  width: 100%;
  height: auto;
}

.logo span{
  font-size: 1.2rem;
  color: #fff;
  font-family: var(--heading-font);
}

.nav-menu{
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background: var(--primary-color);
}
.nav-menu.active{
  left: 0;
}

.nav-item{
  color: #fff;
  font-size: 1.2rem;
  transition: .4s;
  position: relative;
}
.nav-item:hover{
  color: var(--secondary-color);
}
.nav-item.active::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: rgb(109, 39, 39);
}

.nav-toggle{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 20px;
  gap: 6px;
  z-index: 1002;
  border: none;
  background: none;
  border-radius: 2px;
  cursor: pointer;
}

.hamburger{
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.nav-toggle.active .hamburger:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.nav-toggle.active .hamburger:nth-child(2) {
  opacity: 0;
}
.nav-toggle.active .hamburger:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}


main.container{
  margin-top: 100px;

}
.grid-section{
  display: grid;
  grid-template-columns: minmax(300px, 1fr);
  justify-content: center;
  gap: 20px;
  padding: 0 20px;
}

.student-photo img{
  max-width: 500px;
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin: 0 auto;
  display: block;
}

.grid-section section{
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.about-me p, .student-photo img, courses-section{
  padding: 10px;
}

h2{
  background: var(--secondary-color);
  padding: 2px 0;
  text-align: center;
  margin-bottom: 8px;
  font-family: var(--heading-font);
}


.course-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
}

.course-nav button{
  border: 1px solid #aca1a1;
  background: var(--bg);
  color: var(--text-color);
  font-weight: 600;
  border-radius: 12px;
  padding: 6px 10px;
  cursor: pointer;
  flex: 1;
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.3);
  transition: background .4s;
}
.course-nav button:hover{
  background: var(--primary-color);
  color: #fff;
}

.web-certificates {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.credit{
  text-align: center;
}


.course-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 0;
  background:#636b79 ;
  color: #fff;
}

.course-card.completed{
  background-color:#a8adb4c1 ;
  color: #000;
}



footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
}

.fa-linkedin-in {
  color: #0a66c2;
}

.fa-github,
.fa-x-twitter {
  color: #000;
}

 .date-currentyear{
  background: #000;
  width: 100%;
  padding: 10px 0;
  margin-top: 8px;
}
.date-currentyear p {
  font-size: 0.8rem;
  text-align: center;
} 





