@media screen and (min-width: 768px) {
  .open,
  .close {
    display: none;
  }
  .navMenu {
    background: transparent;
    transform: none;
    position: static;
    top: 0;
    left: 0;
    height: auto;
    width: auto;
    padding: 0;
    transition: none;
    flex-direction: row;
    visibility: visible;
    opacity: 1;
  }
  .navMenu ul {
    flex-direction: row;
  }

  .heroSection{
    grid-template-columns: repeat(2, 1fr);
    padding: 130px 20px;
    align-items: center;
  }

  .gridTemplates {
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
  }
  .mapContainer {
    grid-column: span 2;
  }
  .contactForm {
    padding: 30px;
    border-radius: 0 20px 20px 0;
  }
  .contactDetails {
    border-radius: 20px 0 0 20px;
  }
  .footer {
    flex-direction: row;
  }
}
