@media screen and (min-width: 768px) {
    /* .open,
  .close {
    display: none;
  }
  #navMenu {
    display: flex;
    position: static;
    visibility: visible;
    opacity: 1;
    height: auto;
    width: auto;
    padding: 0;
    background: transparent;
    transform: none;
    top: 0;
    left: 0;
  }
  .navList {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0;
  } */


  .heroSection,
  .benefitSection {
    grid-template-columns: repeat(2, 1fr);
    padding: 150px 20px;
  }
  .ctaSection {
    padding: 150px 20px;
  }
  
  
  .ctaContent,
  .ctaText div {
    flex-direction: row;
  }
  

  .footer{
    flex-direction: row;
  }
}
