@media screen and (min-width: 768px) {
  .open,
  .close {
    display: none;
  }
  .navMenu {
    background: transparent;
    transform: none;
    position: static;
    top: 0;
    left: 0;
    height: auto;
    width: auto;
    padding: 0;
    transition: none;
    flex-direction: row;
    visibility: visible;
    opacity: 1;
  }
  .navMenu ul {
    flex-direction: row;
  }

  .heroSection,
  .benefitSection {
    grid-template-columns: repeat(2, 1fr);
    padding: 150px 20px;
  }
  .ctaSection {
    padding: 150px 20px;
  }

  .ctaContent,
  .ctaText div {
    flex-direction: row;
  }

  .footer {
    flex-direction: row;
  }
}
